[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "testpypi"
url = "https://test.pypi.org/simple/"
verify_ssl = true

[dev-packages]
black = {extras = ["jupyter"],version = "==24.3.0"}
bumpversion = "==0.6.0"
cmd2 = { version = "==2.4.2", index = "testpypi" }
flake8 = "==4.0.1"
gunicorn = "==23.0.0"
iniconfig = { version = "==1.1.1", index = "testpypi" }
ipykernel = "==6.15.1"
isort = "==5.10.1"
jupyter-contrib-nbextensions = "==0.5.1"
matplotlib = "==3.5.3"
mypy = "==0.991"
optuna = "==4.9.0" # newer version causes mypy crash
optuna-dashboard = "==0.20.0"
pygments = { version = "==2.20.0", index = "testpypi" }
pyjwt = { version = "==2.13.0", index = "testpypi" }
pyrsistent = { version = "==0.20.0", index = "testpypi" }
pytest = "==9.1.1"
pytest-cov = "==7.1.0"
plotly = "==6.8.0"
shap = "==0.49.1"
jupyter-cache = "*"

[packages]
pandas = "==2.1.4"
numpy = "==1.26.4"
xgboost = "==3.2.0"
scikit-learn = "==1.7.2"
tqdm = "==4.68.3"
clickhouse-driver = "==0.2.10"
python-dateutil = { version = "==2.9.0.post0", index = "testpypi" }
python-dotenv = "==1.2.2"
pytz-deprecation-shim = { version = "==0.1.0.post0", index = "testpypi" }
retrying = "==1.4.2"
tzdata = { version = "==2026.2", index = "testpypi" }
tzlocal = "==4.2"
confluent-kafka = "==2.0.2"
sqlalchemy = "==1.4.46"

[requires]
python_version = "3.10"
